<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Blank</title>


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <app-sidebar></app-sidebar>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
               <app-topbar></app-topbar>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">List Product</h1>

 

                </div>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Category Name</th>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Product Details</th>
                        <th>Product Image</th>
                        <th>Delete</th>
                        
                      </tr>
                    </thead>
                    <tbody>

                      
                      <tr *ngFor="let c of allpro">
                        <td>{{c.catdata[0].categoryname}}</td>
                       <td>{{c.pname}}</td>
                       <td>{{c.pprice}}</td>
                       <td [innerHtml]="c.pd"></td>
                       <td><img style="border-radius: 40%; height: 50px; width:100px" [src]="'http://localhost:2000/product_img/'+c.pimg"/></td>
                       <td><button (click)="delp(c._id)" class="btn btn-danger">Delete</button></td>
                       
                       
                      </tr>
                    </tbody>
                  </table>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <app-footer></app-footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>



</body>

</html>